In [2]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [4]:
data = ['peter', 'Paul', 'MARY', 'gUID0']
[s.capitalize()  for s in data]

['Peter', 'Paul', 'Mary', 'Guid0']

In [6]:
data = ['peter', 'Paul', None, 'MARY', 'gUID0']
[s.capitalize()  for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [8]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUID0
dtype: object

In [9]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guid0
dtype: object

In [10]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [11]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [12]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [13]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [14]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [17]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

In [18]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [20]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [22]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [23]:
full_monte = pd.DataFrame({'name': monte,
                           'info': ['B|C|D', 'B|D', 'A|D', 'B|D', 'B|C', 'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|D
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [24]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  0  1
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

In [29]:
!curl -O http://openrecipes.s3.amazonaws.com/recipeitems-latest.json.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    20  100    20    0     0      2      0  0:00:10  0:00:06  0:00:04     4

In [30]:
!gunzip recipeitems-latest.json.gz

In [31]:
try:
    recipes = pd.read_json('recipeitems-latest.json')
except ValueError as e:
    print('ValueError: ', e)

ValueError:  Expected object or value

In [32]:
with open('recipeitems-latest.json') as f:
    line =  f.readline()
pd.read_json(line).shape

ValueError: Expected object or value